body {
  background: blue;
}

.heading {
  text-align: center;
  color: azure;
  box-sizing: border-box;
  background: yellow;
  color: black;
  font-size: 100px;
}

.score-container {
  color: yellow;
  text-align: center;
  font-size: 60px;
}
.container {
  text-align: center;
  margin-top: 150px;
}

.btn {
  font-size: 60px;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 0.3s;
  color: yellow;
  background: black;
}

.btn:hover {
  color: white;
}

.result {
  text-align: center;
  color: yellow;
  font-size: 50px;
}
